{% extends "template_base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/lista_materias.css' %}">
{% endblock %}
{% block title %} Lista de Materias {% endblock %}


{% block content %}
   
    <section class="SeccionIfts">
        <h1>Lista de Materias</h1>
        <div class="ifts">

        {% for materia in materias %}

            <div>
                <div class="tarjetaIfts">
                    <div class="divBotonesTarjeta">
                        <p> {{ materia.nombre }} </p>
                        <p> {{materia.carrera.institucion }} </p>
                        <p> {{materia.carrera}} </p>
                        <a href="{% url 'lista_profesores' %}"><button id="btnIftsProfesores">Profesores</button></a>
                        <a href="{% url 'opiniones_por_entidad' model_name='materia' entity_id=materia.id %}"><button id="btnIftsOpiniones">Opiniones</button></a>
                        <div>Puntaje</div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </section>

{% endblock %}