{% extends "template_base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/userHome.css' %}">
    <script src="{% static 'js/maps.js' %}" defer></script>
{% endblock %}

<!-- <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    .mapa {
      max-height: 50vh;
      max-width: 50vh;
    }

    /* Optional: Makes the sample page fill the window. */
    iframe{
      max-height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  </style> -->

{% block title %}Home {% endblock %}
{% block content %}

<div class="containers">
  <div class="divNoticiasOpiniones">
    <div class="divNoticias">

    </div>
    <div class="containerOpiniones">

      <div class="containers-btn">
        <button class="tab-button" data-target="opiniones">Opiniones Recientes</button>
      </div>

      <section id="opiniones" class="divOpinionesRecientes seccion">
        
        {% for opinion in opiniones %}
        <div class="tarjetaOpinion" style="height: 40vh; width: 80vw;">               
            <div class="imgOpinion"><img src="{{ opinion.autor.img_perfil.url }}" alt="" style="width: 50px; height: 50px;"></div>
            <div class="divTituloyopinion" style="height: 10vh; width: 60vw;">
              <div class="textosOpinion" style="width: 60vw; height: 50px;">
                <p>{{ opinion.titulo }}</p>
                <div id="votacion">✭</div>
                <p>{{ opinion.fecha }}</p>                        
              </div>
              <div class="parrafoOpinion" style="width: 55vw; height: 25vh;">
                <p>{{ opinion.contenido }}</p>
              </div>
            </div>
        </div>
        {% endfor %}

    
    </section>
  </div>

  </div>
    
    <section id="localizaciones" class="divLocalizaciones seccion">
        <div>
          <button class="tab-button" data-target="localizaciones">Localizaciones</button>
        </div>
        <div class="listaYmapa">
                <!-- Lista de botones para cada IFTS -->
                <ul class="lista">
                  {% for ifts in instituciones %}
                    <li><button title="btn-coordenadas" class="iftsBtn" type="button" onclick="setLocation('{{ ifts.coordenadas }}')">{{ ifts.nombre }}</button></li>
                  {% endfor %}
                </ul>

            <div id="map" data-key="{{ google_maps_api_key }}" >

            </div>
        
        </div>    
    </section>

</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
