{% extends "template_base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/userHome.css' %}">
    <link rel="stylesheet" href="{% static 'css/maps.css' %}">
{% endblock %}

<!-- <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    .mapa {
      max-height: 50vh;
      max-width: 50vh;
    }

    /* Optional: Makes the sample page fill the window. */
    iframe{
      max-height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  </style> -->

{% block title %}Home {% endblock %}
{% block content %}

<div class="containers">
  <div class="divNoticiasOpiniones">
    <div class="divNoticias">

    </div>
    <div class="containerOpiniones">
      <div class="containers-btn">
        <button class="tab-button" data-target="opiniones">Opiniones Recientes</button>
      </div>
      <section id="opiniones" class="divOpinionesRecientes seccion">

        <div class="tarjetaOpinion">               
            <div class="imgOpinion"><img src="{{ request.user.img_perfil.url }}" alt="" ></div>
            <div class="divTituloyopinion">
              <div class="textosOpinion">
                    <p>Titulo</p>
                    <div id="votacion">✭</div>
                    <p>fecha</p>                        
              </div>
              <div class="parrafoOpinion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quia odio, unde ex inventore sint ullam? Placeat deleniti nam exercitationem, quia a odit accusamus laboriosam commodi obcaecati! Rerum, saepe praesentium.</p></div>
            </div>
           
        </div>

        <div class="tarjetaOpinion">               
          <div class="imgOpinion"><img src="{{ request.user.img_perfil.url }}" alt="" ></div>
          <div class="divTituloyopinion">
            <div class="textosOpinion">
                  <p>Titulo</p>
                  <div id="votacion">✭</div>
                  <p>fecha</p>                        
            </div>
            <div class="parrafoOpinion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quia odio, unde ex inventore sint ullam? Placeat deleniti nam exercitationem, quia a odit accusamus laboriosam commodi obcaecati! Rerum, saepe praesentium.</p></div>
          </div>
          <div id="votacion"></div>
      </div>

      <div class="tarjetaOpinion">               
        <div class="imgOpinion"><img src="{{ request.user.img_perfil.url }}" alt="" ></div>
        <div class="divTituloyopinion">
          <div class="textosOpinion">
                <p>Titulo</p>
                <div id="votacion">✭</div>
                <p>fecha</p>                        
          </div>
          <div class="parrafoOpinion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quia odio, unde ex inventore sint ullam? Placeat deleniti nam exercitationem, quia a odit accusamus laboriosam commodi obcaecati! Rerum, saepe praesentium.</p></div>
        </div>
        <div id="votacion"></div>
    </div>

    <div class="tarjetaOpinion">               
      <div class="imgOpinion"><img src="{{ request.user.img_perfil.url }}" alt="" ></div>
      <div class="divTituloyopinion">
        <div class="textosOpinion">
              <p>Titulo</p>
              <div id="votacion">✭</div>
              <p>fecha</p>                        
        </div>
        <div class="parrafoOpinion"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quia odio, unde ex inventore sint ullam? Placeat deleniti nam exercitationem, quia a odit accusamus laboriosam commodi obcaecati! Rerum, saepe praesentium.</p></div>
      </div>
      <div id="votacion"></div>
  </div>
        
        
    
    </section>
  </div>

  </div>
    

    <section id="localizaciones" class="divLocalizaciones seccion">
        <div>
          <button class="tab-button" data-target="localizaciones">Localizaciones</button>
        </div>
        <div class="listaYmapa">
                <!-- Lista de botones para cada IFTS -->
                <ul class="lista">
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.60003829137177, -58.37381593083792)">IFTS N° 1</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.675541961545036, -58.486718288507994)">IFTS N° 2</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.57957920383144, -58.434477502528935)">IFTS N° 3</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.61237656344417, -58.3749644080847)">IFTS N° 12</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.590747, -58.4174746)">IFTS N° 18</button></li>
                </ul>

            <div id="map">

            </div>
        
        </div>    
    </section>

    
</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/localizacionesScripts.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZRk7EP-YT7g6TSpnAcKdai5QGzi1VJpw&callback=initMap">
</script>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyAZRk7EP-YT7g6TSpnAcKdai5QGzi1VJpw",
    // Add other bootstrap parameters as needed, using camel case.
    // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
  });
</script>





{% endblock %}
