.SeccionIfts{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 5px solid red;
    justify-content: center;
}

.ifts{
    display: grid;
    width: 95%;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;  
    text-align: center;
    justify-content: center;
    border: 5px solid blue;
   
}
.ulIfts{
    width: 300px;
    height: auto;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 5px solid yellow;
}



.tarjetaIfts{ 
   width: 100%;
    height: auto;
    display: flex;
    background-color: #043652;
    border-radius: 10px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    border: 5px solid green;
}

.tarjetaIfts:hover {
    transform: scale(1.05);
}

.imgTarjetaIfts{
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: aquamarine;
    border-radius: 10px;
}

.imgTarjetaIfts img{
    width: 150px;
    height: 150px;
}

.divBotonesTarjeta{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2px;
    justify-content: center;
    align-content: space-around;
    }

.divBotonesTarjeta button{
    border-radius: 5px;
    background-color: zrgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    font-size: 100%;

}



