.containers {
    display: flex;
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    align-items: center; /* Centra los hijos horizontalmente si hay espacio */
    width: 95%;
    height: auto;
   
    text-align: center;
    border-bottom: 1px solid #D88C9A;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    align-content: center;
    justify-content: center;
    padding: 15px;
  }
.containers-btn{
  display: flex;
  flex-direction: row;
}
.titulo-seccion {
    margin-top: 20px;
    cursor: pointer;
  }
  
.seccion {
    display: none;
    width: 100%;
    
  }

.divLocalizaciones{
  display: flex;
  flex-direction: row;
  display: block; /* o flex con dirección de columna si necesitas más control */
  width: 100%;
  
}

.listaYmapa{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  width: 100%;
 
}
  
  
.mapa {
  width: 50%;
  border-radius: 20px;
    background-color: lightgray;
    padding: 20px;
  }



.iftsBtn {
  width: 100%;
  padding: 10px;
  margin-bottom: 2px;
}

  /* tarjeta opiniones */
  
.tarjetaOpinion{
    margin: 2%;
    display: flex;
    max-height: 150px;
    border-bottom: 1px solid #D88C9A;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
     background-color: rgba(255, 255, 255, 0.45);
     box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

  }

.imgOpinion{
  width: 5%;
  height: auto;
  margin: auto;

}
.tarjetaOpinion img{
width: 100%;
border-radius: 20px;
padding: 10px;
}

.textosOpinion{
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  align-items: center;
  align-content: center;
  text-align: center;

}
.tarjetaOpinion p{
  font-size: 0.8em;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }
  
