
{% extends "template_base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/opinion.css' %}">

{% endblock %}

{% block title %}Opinion Historica de {{ entity_type|capfirst }}{% endblock %}
{% block content %}

    <h1>Opiniones Historicas sobre {{ entity_type|capfirst }}</h1>
    <table>
        <tr>
            <th>Usuario</th>
            <th>Opinion</th>
            <th>Puntaje</th>
        </tr>
        {% for opinion in opiniones %}
            <tr>
                <td>{{ opinion.autor }}</td>
                <td>{{ opinion.contenido }}</td>
                <td>{{ opinion.puntaje }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="seccion-opinion-usuario">
        <form method="post" action="{% url 'opiniones_por_entidad' model_name=entity_type entity_id=entity_id %}">
            {% csrf_token %}
            <div>
                <label>Titulo</label>
                <input name="opinion-titulo" type="text"/>

                <label>Escribe tu opinion</label>
                <input name="opinion-usuario" type="text" class="opinion-box"/>
            </div>
            <div>
                <label>Vota</label>
                <div>
                    <input name="puntaje-usuario" type="number" class="puntaje-star" />
                </div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
{% endblock content %}