{% extends "template_base.html" %}
{% load static %}
{% block title %} Editar Usuario {% endblock %}

{% block content %}
<style>
    /* Estilos para el formulario */
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-top: 10px;
    }

    input[type="file"] {
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<!-- {{ form.as_p }} -->
    <h1>Editar Usuario</h1>
    <form method="post" action="{% url 'editar_usuario' usuario.id %}" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="edit-user">Editar nombre</label>
        <input type="text"  id="updName" name="updName" value="{{ usuario.nombre }}" required>

        <label for="edit-pwd">Editar contraseña</label>
        <input type="password"  id="updPassword" name="updPassword" value="{{ usuario.password }}" required>

        <label for="edit-img">Editar foto de perfil</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <img src={% static usuario.img_perfil %} alt="Foto de perfil actual">
        

        <input type="submit" value="Guardar cambios">
    </form>

    {% for message in messages %}
    <div class="mdl-textfield">
        <p class="error-message">{{ message }}</p>
    </div>
    {% endfor %}

    
{% endblock %}
