{% extends "template_base.html" %}
{% load static %}
{% block title %} Perfil {% endblock %}

{% block content %}
<div style="height: 500px; width: 500px;">
    <img style="max-height: 100%; max-width: 100%;" src="{% if usuario.img_perfil %}{{ usuario.img_perfil.url }}{% else %}{% static 'imagenes/Iconos/UserProfile.png' %}{% endif %}" alt="Imagen de perfil">
</div>


<h1>Mi Perfil</h1>
<br>
<h2>Hola!, {{ usuario.nombre }}</h2>
<menu>
    <ul>
    <li><a href="{% url 'editar_usuario' usuario.id %}">Editar Usuario</a></li>
    <li><a href="{% url 'eliminar_usuario' usuario.id %}">Eliminar Usuario</a></li>
    </ul>
</menu>

{% endblock %}