<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Google Auth</title>
</head>
<body>
    <h1 style="text-align: center;"> My google OAuth Project </h1>
    {% if user.authenticate %}
    <p>Welcome</p>
    <a href="{% url 'google-auth' %}">Logout</a>
    {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    <div id="g_id_onload"
        data-client_id="YOUR_GOOGLE_CLIENT_ID"
        data-login_uri="https://your.domain/your_login_endpoint">
    </div> 
    {% endif %}
    
</body>
</html>